<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>

    <title>개발자는 일하지만 빈둥거리고 싶어</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/index.js" defer> </script>
</head>

<body>
    <div class="title">
        <h1>개발자는 일하지만 빈둥거리고 싶어</h1>
        <h2>일을 해야 하지만 하기 싫고 빈둥거리고 싶어 블라블라블라</h2>
        <button class="btn btn-primary">Sign Up :D</button>
        <button class="btn btn-primary">Login :></button>
    </div>

    <div class="movie_list">
        <div class="cards" id="card_list">
        </div>
    </div>
</body>

</html>