<!doctype html>
<html lang="en">

<head>

    <!-- Webpage Title -->
    <title>로그인 페이지</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <script>
        function login() {
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: { id_give: $('#userid').val(), pw_give: $('#userpw').val() },
                success: function (response) {
                    if (response['result'] === 'success') {
                        $.cookie('mytoken', response['token']);

                        alert('로그인 완료!')
                        window.location.href = '/auth'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }

    </script>

</head>

<body>
    <div style="width:1000px; margin: auto;">
        <div class="tile is-parent">
            <article class="tile is-child notification is-info" style="border-radius: 30px;">
                <div class="section has-text-centered">
                    <h1 class="title">로그인 페이지</h1>
                    <div class="container" style="width:60%">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="userid">ID</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input type="text" class="input" id="userid" aria-describedby="emailHelp"
                                            placeholder="My ID">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="userpw">PW</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input type="password" class="input" id="userpw" placeholder="My Password">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="button is-primary" onclick="login()">로그인</button>
                    </div>
                </div>
            </article>
        </div>
    </div>

</body>

</html>